<a href="https://colab.research.google.com/github/SigappiShanmugam/Python_Excel_Automation/blob/main/Copy_of_Files_Manipulation_Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.&nbsp;Set Up

In [ ]:
# Import Libraries
import os
import glob
import shutil
import sys
from pathlib import Path
import pandas as pd

In [ ]:
# Accessing Google Drive from Google Colab

from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# 2.&nbsp;Paths : CWD, Absolute vs Relative paths

## CWD: current working directory

In [ ]:
# get absolute path to current working directory

#os.chdir('/content')

print('The current working directory is : ')
os.getcwd()

The current working directory is :

'/content'

In [ ]:
# save current working directory as cwd
cwd = os.getcwd()
cwd

'/content'

In [ ]:
# List all files and directories in current directory

os.listdir('.') #  ==> we have 3 directories : config, gdrive, sample_data and other files

['.config', 'gdrive', 'sample_data']

In [ ]:
# check conaining in sample_data directory

print(os.listdir('sample_data'))

['anscombe.json', 'README.md', 'california_housing_test.csv', 'california_housing_train.csv', 'mnist_test.csv', 'mnist_train_small.csv']

## Paths: Absolute & Relative

**Absolute file paths** are notated by a leading forward slash or drive label. For example, /home/example_user/example_directory or C:/system32/cmd.exe. An absolute file path describes how to access a given file or directory, starting from the root of the file system. A file path is also called a pathname.

In [ ]:
# check containing in gdrive directory with aboslute path

print(os.listdir('/content/gdrive')) 
print(os.listdir('/content/gdrive/MyDrive'))
print(os.listdir('/content/gdrive/MyDrive/Colab Notebooks'))

['.file-revisions-by-id', 'MyDrive', '.shortcut-targets-by-id', '.Trash-0']
['Getting started.pdf', 'Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc', 'Sigappi_Sharepoint Developer (1).docx', 'Sigappi_Sharepoint Developer.docx', 'Web and Systems Developer JD.gdoc', 'im218.jpg', 'Passport ', 'Colab Notebooks']
['Test.ipynb', 'Copy of Test.ipynb', 'firstcode.ipynb', 'Practice_Python_Basics_Module_1.ipynb', 'Python_Basics_Module_1.ipynb', 'Practiseassignment Python_Basics_Module_1.ipynb', 'Practiseassign Python_Basics_Module_1.ipynb', 'Copy of Practiseassign_Python_Basics_Module_1 (3).ipynb', 'Copy of Practiseassign_Python_Basics_Module_1 (2).ipynb', 'Copy of Practiseassign_Python_Basics_Module_1 (1).ipynb', 'Copy of Practiseassign_Python_Basics_Module_1.ipynb', 'Files_Manipulation_Module_2.ipynb', 'Files_Manipulation_Collab-Sparrow_backup.ipynb']

**Relative file paths** are notated by a lack of a leading forward slash. For example, example_directory. A relative file path is interpreted from the perspective your current working directory. If you use a relative file path from the wrong directory, then the path will refer to a different file than you intend, or it will refer to no file at all.

In [ ]:
# check conaining in gdrive directory with relative path

print(os.listdir('gdrive')) 
print(os.listdir('gdrive/MyDrive'))
print(os.listdir('gdrive/MyDrive/Colab Notebooks'))

['.file-revisions-by-id', 'MyDrive', '.shortcut-targets-by-id', '.Trash-0']
['Getting started.pdf', 'Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc', 'Sigappi_Sharepoint Developer (1).docx', 'Sigappi_Sharepoint Developer.docx', 'Web and Systems Developer JD.gdoc', 'im218.jpg', 'Passport ', 'Colab Notebooks']
['Test.ipynb', 'Copy of Test.ipynb', 'firstcode.ipynb', 'Practice_Python_Basics_Module_1.ipynb', 'Python_Basics_Module_1.ipynb', 'Practiseassignment Python_Basics_Module_1.ipynb', 'Practiseassign Python_Basics_Module_1.ipynb', 'Copy of Practiseassign_Python_Basics_Module_1 (3).ipynb', 'Copy of Practiseassign_Python_Basics_Module_1 (2).ipynb', 'Copy of Practiseassign_Python_Basics_Module_1 (1).ipynb', 'Copy of Practiseassign_Python_Basics_Module_1.ipynb', 'Files_Manipulation_Module_2.ipynb', 'Files_Manipulation_Collab-Sparrow_backup.ipynb']

In [ ]:
# delete a notebook from Colab Notebook ==> Name_Notebook.ipynb after '/content/gdrive/MyDrive/Colab Notebooks/ + Name_Notebook.ipynb'

# os.unlink('/content/gdrive/MyDrive/Colab Notebooks/Copy of Fille_Manipulation_Module_2_Practice.ipynb') # relative path as UK_old in the working directory

## Import files

In [ ]:
# import files into google Colab
from google.colab import files

In [ ]:
# upload from your local : excel files "DE.xlsx", 'UK.xlsx", 'FR.xlsx' and 'UK_old.xlsx'
uploaded = files.upload()

Saving DE.xlsx to DE.xlsx
Saving FR.xlsx to FR.xlsx
Saving UK.xlsx to UK.xlsx
Saving UK_old.xlsx to UK_old.xlsx

In [ ]:
# List all files and directories in current directory
os.listdir('.')

['.config',
 'DE.xlsx',
 'UK.xlsx',
 'gdrive',
 'FR.xlsx',
 'UK_old.xlsx',
 'sample_data']

# 3.&nbsp;Folder hierarchy tree

In [ ]:
# delete files

#os.unlink('New_Folder')

In [ ]:
# create a function << folder tree >> to display the the hierarchy of your cwd

def folder_tree(folder):
    for dirpath, dirs, files in os.walk(cwd):	 
        if 'checkpoints' not in dirpath:
                path = dirpath.split('/')     
                print ('|', (len(path))*'--', '>',os.path.basename(dirpath),':')
                for f in files:
                    print ('|', len(path)*'------', f)
                    

# call function folder_tree on your cwd

folder_tree(cwd)

| ---- > content :
| ------------ DE.xlsx
| ------------ UK.xlsx
| ------------ FR.xlsx
| ------------ UK_old.xlsx
| ------ > .config :
| ------------------ active_config
| ------------------ .last_opt_in_prompt.yaml
| ------------------ .last_survey_prompt.yaml
| ------------------ .last_update_check.json
| ------------------ gce
| ------------------ config_sentinel
| -------- > configurations :
| ------------------------ config_default
| -------- > logs :
| ---------- > 2023.02.09 :
| ------------------------------ 00.00.56.519297.log
| ------------------------------ 00.01.51.378393.log
| ------------------------------ 00.02.16.185644.log
| ------------------------------ 00.02.15.490980.log
| ------------------------------ 00.01.43.663040.log
| ------------------------------ 00.01.20.713691.log
| ------ > gdrive :
| -------- > .file-revisions-by-id :
| -------- > MyDrive :
| ------------------------ Getting started.pdf
| ------------------------ Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc
| ------------------------ Sigappi_Sharepoint Developer (1).docx
| ------------------------ Sigappi_Sharepoint Developer.docx
| ------------------------ Web and Systems Developer JD.gdoc
| ------------------------ im218.jpg
| ---------- > Passport  :
| ------------------------------ Passport.pdf
| ------------------------------ Coronavirus (COVID-19) records.pdf
| ------------------------------ COVID pass 3 vaccinations.pdf
| ------------------------------ NHS nerve stimulation.pdf
| ------------ > 11+ :
| ------------------------------------ Chepstow-House-Year-4-Suggested-Reading-List.pdf
| ------------ > Income tax india :
| ------------------------------------ BZCPS3518P_Issue Letter_1045106998(1)_01092022.pdf
| ---------- > Colab Notebooks :
| ------------------------------ Test.ipynb
| ------------------------------ Copy of Test.ipynb
| ------------------------------ firstcode.ipynb
| ------------------------------ Practice_Python_Basics_Module_1.ipynb
| ------------------------------ Python_Basics_Module_1.ipynb
| ------------------------------ Practiseassignment Python_Basics_Module_1.ipynb
| ------------------------------ Practiseassign Python_Basics_Module_1.ipynb
| ------------------------------ Copy of Practiseassign_Python_Basics_Module_1 (3).ipynb
| ------------------------------ Copy of Practiseassign_Python_Basics_Module_1 (2).ipynb
| ------------------------------ Copy of Practiseassign_Python_Basics_Module_1 (1).ipynb
| ------------------------------ Copy of Practiseassign_Python_Basics_Module_1.ipynb
| ------------------------------ Files_Manipulation_Module_2.ipynb
| ------------------------------ Files_Manipulation_Collab-Sparrow_backup.ipynb
| -------- > .shortcut-targets-by-id :
| -------- > .Trash-0 :
| ---------- > files :
| ---------- > info :
| ------ > sample_data :
| ------------------ anscombe.json
| ------------------ README.md
| ------------------ california_housing_test.csv
| ------------------ california_housing_train.csv
| ------------------ mnist_test.csv
| ------------------ mnist_train_small.csv

In [ ]:
# another way to explore your folder/files 
# create function << folder_tree_2 >>


def folder_tree_2(folder):
    for dirPath, dirNames, fileNames in os.walk(cwd, topdown=True):
        if 'checkpoints' not in dirPath:
            print("Directory Path: ", dirPath) 
            print(len(dirNames), "Directories = ", dirNames )
            print(len(fileNames), "Files = ", fileNames )
            print('-'*10)

            

# call function << folder_tree_2 >> on your cwd
# it will return all Directory Paths with contained sub_directories and files
# nb of sub_directories and files

folder_tree_2(cwd)

Directory Path:  /content
3 Directories =  ['.config', 'gdrive', 'sample_data']
4 Files =  ['DE.xlsx', 'UK.xlsx', 'FR.xlsx', 'UK_old.xlsx']
----------
Directory Path:  /content/.config
2 Directories =  ['configurations', 'logs']
6 Files =  ['active_config', '.last_opt_in_prompt.yaml', '.last_survey_prompt.yaml', '.last_update_check.json', 'gce', 'config_sentinel']
----------
Directory Path:  /content/.config/configurations
0 Directories =  []
1 Files =  ['config_default']
----------
Directory Path:  /content/.config/logs
1 Directories =  ['2023.02.09']
0 Files =  []
----------
Directory Path:  /content/.config/logs/2023.02.09
0 Directories =  []
6 Files =  ['00.00.56.519297.log', '00.01.51.378393.log', '00.02.16.185644.log', '00.02.15.490980.log', '00.01.43.663040.log', '00.01.20.713691.log']
----------
Directory Path:  /content/gdrive
4 Directories =  ['.file-revisions-by-id', 'MyDrive', '.shortcut-targets-by-id', '.Trash-0']
0 Files =  []
----------
Directory Path:  /content/gdrive/.file-revisions-by-id
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/gdrive/MyDrive
2 Directories =  ['Passport ', 'Colab Notebooks']
6 Files =  ['Getting started.pdf', 'Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc', 'Sigappi_Sharepoint Developer (1).docx', 'Sigappi_Sharepoint Developer.docx', 'Web and Systems Developer JD.gdoc', 'im218.jpg']
----------
Directory Path:  /content/gdrive/MyDrive/Passport
2 Directories =  ['11+', 'Income tax india']
4 Files =  ['Passport.pdf', 'Coronavirus (COVID-19) records.pdf', 'COVID pass 3 vaccinations.pdf', 'NHS nerve stimulation.pdf']
----------
Directory Path:  /content/gdrive/MyDrive/Passport /11+
0 Directories =  []
1 Files =  ['Chepstow-House-Year-4-Suggested-Reading-List.pdf']
----------
Directory Path:  /content/gdrive/MyDrive/Passport /Income tax india
0 Directories =  []
1 Files =  ['BZCPS3518P_Issue Letter_1045106998(1)_01092022.pdf']
----------
Directory Path:  /content/gdrive/MyDrive/Colab Notebooks
0 Directories =  []
13 Files =  ['Test.ipynb', 'Copy of Test.ipynb', 'firstcode.ipynb', 'Practice_Python_Basics_Module_1.ipynb', 'Python_Basics_Module_1.ipynb', 'Practiseassignment Python_Basics_Module_1.ipynb', 'Practiseassign Python_Basics_Module_1.ipynb', 'Copy of Practiseassign_Python_Basics_Module_1 (3).ipynb', 'Copy of Practiseassign_Python_Basics_Module_1 (2).ipynb', 'Copy of Practiseassign_Python_Basics_Module_1 (1).ipynb', 'Copy of Practiseassign_Python_Basics_Module_1.ipynb', 'Files_Manipulation_Module_2.ipynb', 'Files_Manipulation_Collab-Sparrow_backup.ipynb']
----------
Directory Path:  /content/gdrive/.shortcut-targets-by-id
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/gdrive/.Trash-0
2 Directories =  ['files', 'info']
0 Files =  []
----------
Directory Path:  /content/gdrive/.Trash-0/files
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/gdrive/.Trash-0/info
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/sample_data
0 Directories =  []
6 Files =  ['anscombe.json', 'README.md', 'california_housing_test.csv', 'california_housing_train.csv', 'mnist_test.csv', 'mnist_train_small.csv']
----------

# 4.&nbsp;Looking for Files with extensions

In [ ]:
# create a list  "excel_files" with all files that have the extension excel_files in the working directory

excel_files=[]
for file in os.listdir(cwd):
    if file.endswith('.xlsx'): # or '.csv' if your'looinkg for csv files
            excel_files.append(file)
            
# it will print out excel names present in current directory folder = 'Basics_Python"
print( 'there are', len(excel_files), "excel files: ")
excel_files

there are 4 excel files:

['DE.xlsx', 'UK.xlsx', 'FR.xlsx', 'UK_old.xlsx']

In [ ]:
# check the absolute path of all excel files

# we'll use "glob" package that works with file paths
# glob package is usefull to return all file paths that match a specific pattern

# create a list where are stored the paths of every excel file

# in the working directory here stored in the variable cwd... 
# find all files that have the extension .xlsx ...
# and then concatenate the working directory path + excel file name ...
# we will obtain the absolute path to each excel file ...
# and then store them all into a list called "filespaths"


filespaths = glob.glob(cwd + "/*.xlsx")  # create a list that from cwd, will pick up every the ABSOLUTE PATH for files with extention .xlsx
print(filespaths)
print("")

# print out excel paths one by one
print('File names with their paths:')
for path in filespaths:
    print(path)

['/content/DE.xlsx', '/content/UK.xlsx', '/content/FR.xlsx', '/content/UK_old.xlsx']

File names with their paths:
/content/DE.xlsx
/content/UK.xlsx
/content/FR.xlsx
/content/UK_old.xlsx

# 4.&nbsp;Change working directory

In [ ]:
# if you want to change the current working directory (cwd) 

# change cwd to folder MyDrive (that is in directory content/gdrive)
os.chdir('/content/gdrive/MyDrive')
# check the new current working directory now
cwd = os.getcwd()
cwd

'/content/gdrive/MyDrive'

In [ ]:
# List all files and directories in the new current directory << MyDrive >>
os.listdir('.')

['Getting started.pdf',
 'Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc',
 'Sigappi_Sharepoint Developer (1).docx',
 'Sigappi_Sharepoint Developer.docx',
 'Web and Systems Developer JD.gdoc',
 'im218.jpg',
 'Passport ',
 'Colab Notebooks']

# 5.&nbsp;Manipulate Directories

## Create a new folder

In [ ]:
# create a new folder called "Raw_Files"

# First: 
# write the path to the "Raw_Files" sub_directory
folder = cwd + '/' + 'Raw_Files' # == > /content/gdrive/MyDrive/Raw_Files
print(folder)

# Second:
# create the folder at the indicated path
os.makedirs(folder) # create an empty folder called << Raw_Files >>

/content/gdrive/MyDrive/Raw_Files

In [ ]:
# now check the sub_directories in cwd with os.listdir()

os.listdir('.')

['Getting started.pdf',
 'Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc',
 'Sigappi_Sharepoint Developer (1).docx',
 'Sigappi_Sharepoint Developer.docx',
 'Web and Systems Developer JD.gdoc',
 'im218.jpg',
 'Passport ',
 'Colab Notebooks',
 'Raw_Files']

## Rename Folders

In [ ]:
# rename folder <<Raw_Files>> in  <<Raw_Excel_Files folder>>

new_name= 'Raw_Excel_Files' # variable containing the new name value

os.rename(folder, new_name) # it will rename "Raw_Files" into 'Raw_Excel_Files'

# now check the sub_directories in cwd with os.listdir()

os.listdir('.')

['Getting started.pdf',
 'Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc',
 'Sigappi_Sharepoint Developer (1).docx',
 'Sigappi_Sharepoint Developer.docx',
 'Web and Systems Developer JD.gdoc',
 'im218.jpg',
 'Passport ',
 'Colab Notebooks',
 'Raw_Excel_Files']

## Nested Folders

In [ ]:
# Create a nested folder (folder in the folder)

other = cwd + '/' + 'New_Folder' + '/' +'Inner_folder' 
os.makedirs(other)
other # the folder "New_Folder" will contain another empty folder "Inner Folder"

'/content/gdrive/MyDrive/New_Folder/Inner_folder'

In [ ]:
# now check the sub_directories in cwd with os.listdir()

os.listdir('.')

['Getting started.pdf',
 'Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc',
 'Sigappi_Sharepoint Developer (1).docx',
 'Sigappi_Sharepoint Developer.docx',
 'Web and Systems Developer JD.gdoc',
 'im218.jpg',
 'Passport ',
 'Colab Notebooks',
 'Raw_Excel_Files',
 'New_Folder']

## Navigate in tree hierarchy

In [ ]:
# list all files in the current directoy

os.listdir('.')

['Getting started.pdf',
 'Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc',
 'Sigappi_Sharepoint Developer (1).docx',
 'Sigappi_Sharepoint Developer.docx',
 'Web and Systems Developer JD.gdoc',
 'im218.jpg',
 'Passport ',
 'Colab Notebooks',
 'Raw_Excel_Files',
 'New_Folder']

In [ ]:
# move up in the hierarchy to list the files from the upper level 

os.listdir('..')

['.file-revisions-by-id', 'MyDrive', '.shortcut-targets-by-id', '.Trash-0']

In [ ]:
# list files inside a specific folder (get children)

print (os.listdir('New_Folder'))

['Inner_folder']

In [ ]:
# get parent of a scpecific folder (go back with 1 level)

# save path to New_FOlder
new_folder = '/content/gdrive/MyDrive/New_Folder' 

# prit parent of Inner_Folder
print(Path(new_folder).parents[0])

/content/gdrive/MyDrive

In [ ]:
# get grand parent of a scpecific folder (go back with 2 levels)

print(Path(new_folder).parents[1])

/content/gdrive

## Paths to the folders

In [ ]:
# Find Paths

# relative path ==> only the final file name
print('Relative path of file:     ', os.path.relpath('Raw_Excel_Files') )

# Absolute directoryname ==> the path up to the up_directories (parents)
print('Absolute directoryname: ',  os.path.dirname(os.path.abspath('Raw_Excel_Files')))

# Absolute path ==> the whole path with the file name included
print('Absolute path of file:     ',  os.path.abspath('Raw_Excel_Files'))

Relative path of file:      Raw_Excel_Files
Absolute directoryname:  /content/gdrive/MyDrive
Absolute path of file:      /content/gdrive/MyDrive/Raw_Excel_Files

# 6.&nbsp;Copy File

In [ ]:
# reminder of containing in cwd: MyDrive

os.listdir('.')

['Getting started.pdf',
 'Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc',
 'Sigappi_Sharepoint Developer (1).docx',
 'Sigappi_Sharepoint Developer.docx',
 'Web and Systems Developer JD.gdoc',
 'im218.jpg',
 'Passport ',
 'Colab Notebooks',
 'Raw_Excel_Files',
 'New_Folder']

In [ ]:
# reminder of containing in content directory

os.listdir('/content')

['.config',
 'DE.xlsx',
 'UK.xlsx',
 'gdrive',
 'FR.xlsx',
 'UK_old.xlsx',
 'sample_data']

## Copy a single file

In [ ]:
# copy one file in another folder

# we want to copy UK.xlsx file  in 'Raw_Excel_Files' folder

# destination WHERE we want to copy 
dest = 'Raw_Excel_Files'

# source file : WHAT we want to copy
src=  '/content/UK.xlsx' # source ==> the path to the file that we want to copy (we wuse absoute path as UK.xlsx is outside cwd)

In [ ]:
# work with shutil package
''' Shutil module offers high-level operation on a file like a copy, create, move
and remote operation on the file '''

#  copy the file from the source <<src>> in the folder we want << dest >>
shutil.copy(src, # what file we want to copy, more specifically its path
            dest) # path to the folder we want to paste the copied file

'Raw_Excel_Files/UK.xlsx'

In [ ]:
# file that we want to copy : FR.xlsx
src='/content/FR.xlsx'

# copy the file in the folder we want
shutil.copy(src, dest)

'Raw_Excel_Files/FR.xlsx'

In [ ]:
# file that we want to copy : DE.xlsx
src='/content/DE.xlsx'

# copy the file in the folder we want
shutil.copy(src, dest)

'Raw_Excel_Files/DE.xlsx'

In [ ]:
# and now look at the containing of Raw_Excel_Files'

os.listdir('Raw_Excel_Files')

['UK.xlsx', 'FR.xlsx', 'DE.xlsx']

## Copy multiple files at once

In [ ]:
# find all absolute paths to our xlsx files in 'Raw_Excel_Files' with glob

path = 'Raw_Excel_Files'

# create a list filespaths that ..
# ... will contain the paths to all files with extension .xlsx
filespaths = glob.glob(os.path.abspath(path) + "/*.xlsx")
filespaths

['/content/gdrive/MyDrive/Raw_Excel_Files/UK.xlsx',
 '/content/gdrive/MyDrive/Raw_Excel_Files/FR.xlsx',
 '/content/gdrive/MyDrive/Raw_Excel_Files/DE.xlsx']

In [ ]:
# copy the multiple files in the folder we want

dest = cwd # we want to copy our file in cwd MyDrive

# we want to copy all excel files in Raw_Excel_Files in dest
print(filespaths)
print(dest)

for file in filespaths:
    shutil.copy(file, dest)

['/content/gdrive/MyDrive/Raw_Excel_Files/UK.xlsx', '/content/gdrive/MyDrive/Raw_Excel_Files/FR.xlsx', '/content/gdrive/MyDrive/Raw_Excel_Files/DE.xlsx']
/content/gdrive/MyDrive

In [ ]:
# check the cwd containing again to notify the presece of excel files
os.listdir('.')

['Getting started.pdf',
 'Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc',
 'Sigappi_Sharepoint Developer (1).docx',
 'Sigappi_Sharepoint Developer.docx',
 'Web and Systems Developer JD.gdoc',
 'im218.jpg',
 'Passport ',
 'Colab Notebooks',
 'Raw_Excel_Files',
 'New_Folder',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx']

# 7.&nbsp;Move File

In [ ]:
# create a folder << Old_Files >> where we would like to move files 

# First: write the path to folder
folder_1 = cwd + '/' + 'Old_Files'
print(folder_1)

# Second: create the folder at the indicated path
os.makedirs(folder_1)

# check cwd
os.listdir('.')

/content/gdrive/MyDrive/Old_Files

['Getting started.pdf',
 'Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc',
 'Sigappi_Sharepoint Developer (1).docx',
 'Sigappi_Sharepoint Developer.docx',
 'Web and Systems Developer JD.gdoc',
 'im218.jpg',
 'Passport ',
 'Colab Notebooks',
 'Raw_Excel_Files',
 'New_Folder',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'Old_Files']

In [ ]:
# folder_to_move (it would be like cut/paste

file_to_move = '/content/UK_old.xlsx' # from directory content

shutil.move(file_to_move, # file/folder to cut
           folder_1) # folder where to move = '/content/gdrive/MyDrive/Old_Files/UK_old.xlsx'  
           

# check directory content
print('content: ', os.listdir('/content'))  # now UK_old.xlsx has disapeared for content
      
# check directory MyDrive/Old_Files
print('MyDrive/Old_Files: ', os.listdir('Old_Files'))  # now UK_old.xlsx has disapeared for content

content:  ['.config', 'DE.xlsx', 'UK.xlsx', 'gdrive', 'FR.xlsx', 'sample_data']
MyDrive/Old_Files:  ['UK_old.xlsx']

# 5.&nbsp;Delete Files

In [ ]:
# reminder of cwd
cwd

'/content/gdrive/MyDrive'

In [ ]:
# check Old_Files containing

os.listdir('Old_Files')

['UK_old.xlsx']

## Delete file

In [ ]:
# delete a file UK_old.xlsx from Old_Files with os.unlink

os.unlink('Old_Files/UK_old.xlsx') # relative path as UK_old in the working directory

# check again Old_Files containing
os.listdir('Old_Files')

[]

In [ ]:
# check cwd
os.listdir('.')

['Getting started.pdf',
 'Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc',
 'Sigappi_Sharepoint Developer (1).docx',
 'Sigappi_Sharepoint Developer.docx',
 'Web and Systems Developer JD.gdoc',
 'im218.jpg',
 'Passport ',
 'Colab Notebooks',
 'Raw_Excel_Files',
 'New_Folder',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx',
 'Old_Files']

## Delete folder

There is a diference when deleting EMPTY and NOT empty folders:



1.   For ***EMPTY** use .rmdir function *from package os*
2.   For ***NOT EMPTY** use .rmtree function *from package shutil*

**EMPTY folder**

In [ ]:
# delete empty folder 'Old_Files' from cwd with os.rmdir

folder_to_remove= 'Old_Files'
os.rmdir(folder_to_remove)

*** NOT EMPTY folder**

In [ ]:
# list files inside a specific folder (get children)

print (os.listdir('New_Folder'))

['Inner_folder']

In [ ]:
# save path to New_FOlder
inner_folder = '/content/gdrive/MyDrive/New_Folder/Inner_folder'

# prit parent of Inner_Folder
print(Path(inner_folder).parents[0])

/content/gdrive/MyDrive/New_Folder

In [ ]:
# delete NOT empty folder

# New_Folder contains another file 'Inner_folder'

shutil.rmtree('New_Folder') 

# check again cwd containing to certify that folder has disapeared

os.listdir('.')

['Getting started.pdf',
 'Sigappi S_Sharepoint Developer_7.06 yrs_Resume.doc',
 'Sigappi_Sharepoint Developer (1).docx',
 'Sigappi_Sharepoint Developer.docx',
 'Web and Systems Developer JD.gdoc',
 'im218.jpg',
 'Passport ',
 'Colab Notebooks',
 'Raw_Excel_Files',
 'UK.xlsx',
 'FR.xlsx',
 'DE.xlsx']

# Work with Excel Files

In [ ]:
# Create a folder 'Processed_Files' in the cwd where we'll store all processed files 

des = cwd + '/' + 'Processed_Files'
os.makedirs(des)



1.  First read each excel files and put them into pandas dataframe
2.  Consolidate all excel files into a single excel with separate sheet by country
3.  Consolidate all excels into a single excel sheet

## Read excels

In [ ]:
# if the excel file has too many rows, when visualising the data, not all columns are displayed
# to overcome this we use .set_option method

# set visible all columns
pd.set_option('display.max_columns', None)

In [ ]:
# DE.xlsx file

# store the nme of the file in filename variable
filename = 'DE.xlsx'
# read the excel file with .read_excel method
de = pd.read_excel(filename, # the file we want to read
                   index_col=None, # do not add column index
                   header=0) # the first row to be used as headers (column names)

# check dataframe shape
print('Dataframe Shape: ', de.shape)
de.head()

Dataframe Shape:  (673, 14)

,Date,Name,Mannschaft,Rohe Präsenz (min),Pause (Minuten),Nettopräsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted
0,2022-04-12,Employee_1,TEAM_1,102,0,102,4,00:02:08,0.6,2,1,0.00,0.25,0.00
1,2022-04-13,Employee_1,TEAM_1,299,0,299,168,00:42:00,0.4,4,2,0.50,0.75,0.50
2,2022-04-19,Employee_1,TEAM_1,478,0,478,275,00:16:12,2.0,17,16,0.75,1.00,0.75
3,2022-04-20,Employee_1,TEAM_1,427,0,427,142,00:12:56,1.4,11,10,0.50,1.00,0.50
4,2022-04-21,Employee_1,TEAM_1,482,0,482,129,00:16:12,1.0,8,8,0.50,1.00,0.50

In [ ]:
# add a column 'Country' to diferentiate the data in the consilidated dataframe
de['Country']= 'DE'

# check dataframe shape after adding the new column
print('Dataframe Shape: ', de.shape)

# visualize first rows
de.head()

Dataframe Shape:  (673, 15)

,Date,Name,Mannschaft,Rohe Präsenz (min),Pause (Minuten),Nettopräsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted,Country
0,2022-04-12,Employee_1,TEAM_1,102,0,102,4,00:02:08,0.6,2,1,0.00,0.25,0.00,DE
1,2022-04-13,Employee_1,TEAM_1,299,0,299,168,00:42:00,0.4,4,2,0.50,0.75,0.50,DE
2,2022-04-19,Employee_1,TEAM_1,478,0,478,275,00:16:12,2.0,17,16,0.75,1.00,0.75,DE
3,2022-04-20,Employee_1,TEAM_1,427,0,427,142,00:12:56,1.4,11,10,0.50,1.00,0.50,DE
4,2022-04-21,Employee_1,TEAM_1,482,0,482,129,00:16:12,1.0,8,8,0.50,1.00,0.50,DE

In [ ]:
print('nb of columns: ', len(de.columns))
print('nb of rows: ', len(de))
de.columns

nb of columns:  15
nb of rows:  673

Index(['Date', 'Name', 'Mannschaft', 'Rohe Präsenz (min)', 'Pause (Minuten)',
       'Nettopräsenz (Min.)', 'Behandlung (min)', 'DMT', 'Productiviy',
       'Processed tickets', 'Closed Tickets', 'FTE (processed)',
       'FTE (presence)', 'FTE weighted', 'Country'],
      dtype='object')

In [ ]:
# FR
filename = 'FR.xlsx'
fr = pd.read_excel(filename, index_col=None, header=0)


# add a column 'Country' to diferentiate the data in the consilidated dataframe
fr['Country']= 'FR'

# check dataframe shape, dimensions after adding the new column
print('Dataframe Shape: ', fr.shape)
print('nb of columns: ', len(fr.columns))
print('nb of rows: ', len(fr))

# print column names 
print('column names: ', fr.columns)

# visualize first rows
fr.head()

In [ ]:
# UK
filename = 'UK.xlsx'
uk = pd.read_excel(filename, index_col=None, header=0)


# add a column 'Country' to diferentiate the data in the consilidated dataframe
uk['Country']= 'UK'

# check dataframe shape, dimensions after adding the new column
print('Dataframe Shape: ', uk.shape)
print('nb of columns: ', len(uk.columns))
print('nb of rows: ', len(uk))

# print column names 
print('column names: ', uk.columns)

# visualize first rows
uk.head()

Dataframe Shape:  (269, 15)
nb of columns:  15
nb of rows:  269
column names:  Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')

,Date,Name,Team,Presence,Pause (min),Presence net (min),Processed (min),DMT,Productivity hours,Processed tickets,Closed tickets,FTE (process),FTE (presence),FTE weighted,Country
0,2022-04-12,Employee_1,TEAM_1,102.0,0.0,102,4,0.001481,0.6,2,1,0.00,0.25,0.00,UK
1,2022-04-19,Employee_1,TEAM_1,478.0,0.0,478,275,0.011250,2.0,17,16,0.75,1.00,0.75,UK
2,2022-04-20,Employee_1,TEAM_1,4.0,0.0,427,142,0.008981,1.4,11,10,0.50,1.00,0.50,UK
3,2022-04-21,Employee_1,TEAM_1,482.0,0.0,482,129,0.011250,1.0,8,8,0.50,1.00,0.50,UK
4,2022-04-22,Employee_1,TEAM_1,476.0,0.0,476,117,0.013634,0.8,6,6,0.25,1.00,0.25,UK

## Single excel file with separate sheet by country

Create an excel file where country would be on a separate sheet

In [ ]:
# create excel writer in the Processed_Files folder with the name 'Consolidation_by_sheet'
writer = pd.ExcelWriter('Processed_Files/Consolidated_by_sheet.xlsx')
# write dataframe to excel sheet named 'marks'
uk.to_excel(writer, 'UK')
fr.to_excel(writer, 'FR')
de.to_excel(writer, 'DE')

# - > !!!! save and close the excel file (important)
writer.save()
writer.close()

## Consolidate all excels into a single excel sheet

In [ ]:
frames = [de, fr, uk]

df_concat = pd.concat(frames)

print(df_concat.shape)

# display first rows
df_concat.head()

(1209, 34)

,Date,Name,Mannschaft,Rohe Präsenz (min),Pause (Minuten),Nettopräsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted,Country,Nom/Prénom,EQUIPE,Présence brute (min),Pause (min),Présente nette (min),Traitement (min),Productivité horaire,Tickets traités,Tickets clos,FTE (traitement),FTE (présence),FTE pondéré,Team,Presence,Presence net (min),Processed (min),Productivity hours,Closed tickets,FTE (process)
0,2022-04-12,Employee_1,TEAM_1,102.0,0.0,102.0,4.0,00:02:08,0.6,2.0,1.0,0.00,0.25,0.00,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-04-13,Employee_1,TEAM_1,299.0,0.0,299.0,168.0,00:42:00,0.4,4.0,2.0,0.50,0.75,0.50,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-04-19,Employee_1,TEAM_1,478.0,0.0,478.0,275.0,00:16:12,2.0,17.0,16.0,0.75,1.00,0.75,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-04-20,Employee_1,TEAM_1,427.0,0.0,427.0,142.0,00:12:56,1.4,11.0,10.0,0.50,1.00,0.50,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-04-21,Employee_1,TEAM_1,482.0,0.0,482.0,129.0,00:16:12,1.0,8.0,8.0,0.50,1.00,0.50,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# diplay last rows
df_concat.tail()

,Date,Name,Mannschaft,Rohe Präsenz (min),Pause (Minuten),Nettopräsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted,Country,Nom/Prénom,EQUIPE,Présence brute (min),Pause (min),Présente nette (min),Traitement (min),Productivité horaire,Tickets traités,Tickets clos,FTE (traitement),FTE (présence),FTE pondéré,Team,Presence,Presence net (min),Processed (min),Productivity hours,Closed tickets,FTE (process)
264,2022-04-14,Employee_24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.5,0.00,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_4,123.00,123.0,0.0,0.0,0.0,0.00
265,2022-04-24,Employee_24,NaN,NaN,NaN,NaN,NaN,0.008461,NaN,3.0,NaN,NaN,0.5,0.00,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_4,184.00,184.0,36.0,1.3,3.0,0.00
266,2022-04-29,Employee_24,NaN,NaN,NaN,NaN,NaN,0.003194,NaN,14.0,NaN,NaN,1.0,0.25,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_4,441.00,441.0,64.0,1.5,11.0,0.25
267,2022-04-24,Employee_25,NaN,NaN,NaN,NaN,NaN,0.008461,NaN,3.0,NaN,NaN,0.5,0.00,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_5,1.60,184.0,36.0,1.3,3.0,0.00
268,2022-04-29,Employee_26,NaN,NaN,NaN,NaN,NaN,0.003194,NaN,14.0,NaN,NaN,1.0,0.25,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_5,3.41,441.0,64.0,1.5,11.0,0.25

In [ ]:
# to consolidate multiple dataframes, there are 3 rules:
# they have to have the same nb of columns (here all 3 df have 15 columns)
# to concatenate by column names, all df have to have the same column names
# the dfs must have same column order

print("Column nb of DE: ", len(de.columns), de.columns)
print("Column nb of FR: ", len(fr.columns), fr.columns)
print("Column nb of UK: ", len(uk.columns), uk.columns)

Column nb of DE:  15 Index(['Date', 'Name', 'Mannschaft', 'Rohe Präsenz (min)', 'Pause (Minuten)',
       'Nettopräsenz (Min.)', 'Behandlung (min)', 'DMT', 'Productiviy',
       'Processed tickets', 'Closed Tickets', 'FTE (processed)',
       'FTE (presence)', 'FTE weighted', 'Country'],
      dtype='object')
Column nb of FR:  15 Index(['Date', 'Nom/Prénom', 'EQUIPE', 'Présence brute (min)', 'Pause (min)',
       'Présente nette (min)', 'Traitement (min)', 'DMT',
       'Productivité horaire', 'Tickets traités', 'Tickets clos',
       'FTE (traitement)', 'FTE (présence)', 'FTE pondéré', 'Country'],
      dtype='object')
Column nb of UK:  15 Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')

In [ ]:
# rename the dfs columns o they would be identical
# we will use english column names for all dfs

columns = uk.columns

fr.columns = columns
de.columns = columns

print("Column nb of DE: ", len(de.columns), de.columns)
print("Column nb of FR: ", len(fr.columns), fr.columns)
print("Column nb of UK: ", len(uk.columns), uk.columns)

Column nb of DE:  15 Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')
Column nb of FR:  15 Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')
Column nb of UK:  15 Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')

In [ ]:
# this time the concatenation of dfs is correct

df_concat = pd.concat(frames)

print(df_concat.shape)
df_concat.head()

(1209, 15)

,Date,Name,Team,Presence,Pause (min),Presence net (min),Processed (min),DMT,Productivity hours,Processed tickets,Closed tickets,FTE (process),FTE (presence),FTE weighted,Country
0,2022-04-12,Employee_1,TEAM_1,102.0,0.0,102,4,00:02:08,0.6,2,1,0.00,0.25,0.00,DE
1,2022-04-13,Employee_1,TEAM_1,299.0,0.0,299,168,00:42:00,0.4,4,2,0.50,0.75,0.50,DE
2,2022-04-19,Employee_1,TEAM_1,478.0,0.0,478,275,00:16:12,2.0,17,16,0.75,1.00,0.75,DE
3,2022-04-20,Employee_1,TEAM_1,427.0,0.0,427,142,00:12:56,1.4,11,10,0.50,1.00,0.50,DE
4,2022-04-21,Employee_1,TEAM_1,482.0,0.0,482,129,00:16:12,1.0,8,8,0.50,1.00,0.50,DE

In [ ]:
# last rows
df_concat.tail()

,Date,Name,Team,Presence,Pause (min),Presence net (min),Processed (min),DMT,Productivity hours,Processed tickets,Closed tickets,FTE (process),FTE (presence),FTE weighted,Country
264,2022-04-14,Employee_24,TEAM_4,123.00,0.0,123,0,NaN,0.0,0,0,0.00,0.5,0.00,UK
265,2022-04-24,Employee_24,TEAM_4,184.00,0.0,184,36,0.008461,1.3,3,3,0.00,0.5,0.00,UK
266,2022-04-29,Employee_24,TEAM_4,441.00,0.0,441,64,0.003194,1.5,14,11,0.25,1.0,0.25,UK
267,2022-04-24,Employee_25,TEAM_5,1.60,0.0,184,36,0.008461,1.3,3,3,0.00,0.5,0.00,UK
268,2022-04-29,Employee_26,TEAM_5,3.41,0.0,441,64,0.003194,1.5,14,11,0.25,1.0,0.25,UK

In [ ]:
# create excel writer in the Processed_Files with the name 'Consolidation'
writer = pd.ExcelWriter('Processed_Files/Consolidation.xlsx')

# write dataframe to excel sheet named 'marks'
df_concat.to_excel(writer, 'Consolidation')

# save the excel file
writer.save()
writer.close()

# Reinitiate original folder

***!!!!!    Execute this section if you are sure you want to remove files/folders !!!!***

In [ ]:
os.listdir('.')

In [ ]:
# delete Raw_Excel_Files to reinitiate the whole folder

#shutil.rmtree('Processed_Files')
#shutil.rmtree('Raw_Excel_Files') 

# empty file
#os.rmdir('Old_Files')

# remove files from cwd
os.unlink('UK.xlsx')
os.unlink('FR.xlsx')
os.unlink('DE.xlsx')

In [ ]:
os.listdir('/content')

In [ ]:
# remove files from cwd

os.unlink('/content/UK.xlsx')
os.unlink('/content/FR.xlsx')
os.unlink('/content/DE.xlsx')
os.unlink('/content/UK_old.xlsx') 

os.listdir('/content')